/*Ini Conteudo/Main do site =manPages


font-weight: 400;
font-size: ;
font-family: ;





*/








body {
  background-color: brown;
  display: grid;
  grid-template-columns: 97.5vw;
  grid-template-rows: 100vh minmax(0vh, auto) 100vh;
  grid-template-areas:
    'header'
    'main'
    'footer';

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header {
  background-color: blueviolet;
}

main {
  background-color: gray;
}

footer {
  background-color: green;
}

section {
  margin: 5cqw 3cqh;
  background-color: rgb(163, 163, 255);
  width: 90%;
  height: 650px;
  border-radius: 55px;
  overflow: hidden;
}


section div {
  grid-area: "conte";
}

.Seção {
  display: flex;
  padding: 0px 5px;
  align-items: center;
  gap: 20px;
}

.conteudo,
figcaption {
  display: none;
}

/*|Tela maior que 910px|*/
@media only screen and (max-width: 910px) {

  section {
    background-color: rgb(78, 78, 188);
  }

  .Seção {
    display: flex;
    padding: 0px 5px;
    align-items: center;
    gap: 20px;
  }

  body {
    grid-template-columns: 96.7vw;
  }

}

/*|Tela maior que 750px|*/
@media only screen and (max-width: 750px) {

  section {
    background-color: rgb(29, 29, 158);
  }

  .Seção {
    display: flex;
    padding: 0px 5px;
    align-items: center;
    gap: 20px;
  }

  body {
    grid-template-columns: 96vw;
  }
}


/*|Tela maior que 600px|*/
@media only screen and (max-width: 600px) {


  section {
    margin: 1cqw 3cqh;
  }

  body {
    grid-template-columns: 95vw;
  }

  .conteudo {
    display: inline;
  }

  
  figure {
    margin: auto 10%;
  }

  .Seção {
    display: flex;
    padding: 0px 5px;
    align-items: center;
    gap: 20px;
  }

}


/*|Tela maior que 500px|*/
@media only screen and (max-width: 500px) {
  figure {
    margin: 0;
  }

  section {
    margin: 0cqw 3cqh;
    height: auto;
  }

  article img {
    width: 100%;
  }

  body {
    grid-template-columns: 94vw;
  }
}

/*|Tela maior que 400px|*/
@media only screen and (max-width: 400px) {


  body {
    grid-template-columns: 92vw;
  }
}


/*|Tela maior que 300px|*/
@media only screen and (max-width: 300px) {


  body {
    grid-template-columns: 91vw;
  }
}


/*|Tela maior que 200px|*/
@media only screen and (max-width: 200px) {

  body {
    grid-template-columns: 88vw;
  }
}



/*
#manPages {
    grid-area: main;
    display: block;
    width: 100vw;
    background-color: blue;
}


#manPages section {
    border-radius: 15px;
    background-color: #555555;
    margin: 1.1vh 1.5cqw 2vh 1cqw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 40cqw 60cqw;
    grid-template-rows: 5vh minmax(5vh, auto) 4vh;
    grid-template-areas:
        "titulo titulo"
        "preolhada inf"
        "link link";
}

#manPages section header {
    grid-area: titulo;
    background-color: #111;
    color: whitesmoke;
}

#manPages section figure {
    grid-area: preolhada;
    padding: 0.8cqh 0.4cqw;
}

#manPages section figure img {
    width: 30cqw;
    height: auto;
}

#manPages section article {
    grid-area: inf;
    padding: 0.8cqh 0.4cqw;
    background-color: #353535;
}

#manPages section footer {
    grid-area: link;
    padding: 0.8cqh 0.4cqw;
    background-color: #303030;
}*/